[{:resource {:resourceType "Invalid"}
  :error-paths [[]]} 

 {:resource {:resourceType "Patient" :extra "field"}
  :error-paths [[]]} 

 {:resource {:resourceType "Patient" :name "string"}
  :error-paths [[:name]]} 

 {:resource {:resourceType "Patient" :name [{:extra ""}] :extra "filed"}
  :error-paths [[] [:name 0]]}

 {:desc "No empty objects"
  :resource {:resourceType "Patient" :name [{}]}
  :error-paths [[:name 0]]}

 {:desc "bundle validation"
  :resource {:resourceType "Bundle"
             :entry [{:resource {:resourceType "Patient" :name "ups"}}]}
  :error-paths [[:entry 0 :resource :name]]}

 ]
